// Хедер

.logo {
    padding: 16px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    
    letter-spacing: 0.03em;
    color: var(--color-text-logo);

    @media screen and (min-width: $tablet) {
        padding: 26px 0;
        font-size: 24px;
        line-height: 1.17;
    }

    @media screen and (min-width: $desktop){
        padding: 24px 0 25px 0;
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo--black {
    color: var(--color-text-black);
}

// Футер

.logo--white {
    color: var(--color-text-white);
}

.logo--footer {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0;
}