.socialicon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socialicon-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    width: 44px;
    height: 44px;
    color: var(--color-client);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--color-text-white);
        background-color: var(--hover-main);
    }
}

.socialicon-list__icon {
    fill: currentColor;
}

// Футер
.socialicon-list__link--color {
    color: var(--color-text-white);
    background-color: rgba(225, 225, 225, 0.1);
}